<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.findbugs.master.application"
         name="net.sf.findbugs.master.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.findbugs.master.Application">
         </run>
      </application>
   </extension>

   <extension
         id="master"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="master">
         <property
               name="appName"
               value="master">
         </property>
         <property
               name="startupForegroundColor"
               value="ED112B">
         </property>
         <property
               name="startupMessageRect"
               value="7,235,400,17">
         </property>
         <property
               name="startupProgressRect"
               value="5,255,400,7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
