<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.sf.findbugs.master.application"
         name="net.sf.findbugs.master.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.findbugs.master.Application">
         </run>
      </application>
   </extension>

   <extension
         id="master"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="An eclipse based RCP for FindBugs"
            name="FindBugs RCP">
         <property
               name="appName"
               value="FindBugs RCP">
         </property>
         <property
               name="startupForegroundColor"
               value="ED112B">
         </property>
         <property
               name="startupMessageRect"
               value="7,235,400,17">
         </property>
         <property
               name="startupProgressRect"
               value="5,255,400,7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/buggy-sm.png">
         </property>
         <property
               name="aboutText"
               value="The name FindBugs and the FindBugs logo is trademarked by the University of Maryland. &#x0A;&#x0A;FindBugs is free software distributed under the terms of the Lesser GNU Public License. &#x0A;&#x0A;You should have received a copy of the license in the file LICENSE.txt in the FindBugs distribution.">
         </property>
         <property
               name="windowImages"
               value="icons/buggy-tiny.png,icons/smallBuggy.png">
         </property>
      </product>
   </extension>

</plugin>
